$primary-font-color: #fff;
$secondary-font-color: #8b939c;
$block-color: #38405f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e131f;
  padding: 18px;
}

main {
  outline: 4px $primary-font-color solid;
  padding: 2rem;
  height: calc(100vh - 36px);
  color: $primary-font-color;
  white-space: nowrap;

  h1 {
    font-size: clamp(2rem, 6vw + 0.25rem, 8rem);
  }

  h2 {
    color: $secondary-font-color;
    font-size: clamp(1rem, 3vw + 0.25rem, 5rem);
  }

  ul {
    margin-top: clamp(2rem, 2vh, 10rem);
    list-style: none;
    font-size: clamp(1rem, 2vw + 0.25rem, 2rem);
    padding-left: 1.5rem;

    border-left: 0.4rem solid #ff0035cc;

    li {
      margin-top: clamp(1px, 1vh, 25px);

      a {
        color: $primary-font-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.animated-svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2rem);
  height: 100%;
  overflow: hidden;
  z-index: -1;
  margin-left: 1rem;
}

.animated-svg-container svg {
  position: absolute;
  display: block;
  list-style: none;
  fill: none;
  stroke-width: 10;
  stroke: $block-color;
  animation: animate 8s linear infinite;
  bottom: -150px;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50%,
  75% {
    opacity: 1;
  }

  100% {
    transform: translateY(-80vh) rotate(270deg);
    opacity: 0;
  }
}
